// #title{

// padding: 0;
// margin: 0;
// position: relative;
// top: 0;


// }




#under-hero{


widows: 100%;
// position: relative;
// height: 100vh;


&  #box-child{

transition:500ms;

&:hover{

filter: none;
transition: 400ms;
transform: scale(0.9);




   
}
}

}

