nav#header ul li a::after
{
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  top: 0;
  right: 0;
  background-color: #5252d6;
  display: block;
  position: relative;
  top:5px;
  transition: all 0.3s ease-in-out;
}

nav#header ul li a:hover::after
{
  width: 100%;
  left: 0;
}






@media (max-width: 1023px)
{

nav#header{


    height: 0vh;
    overflow: hidden;
    // transition: all 400ms ease-out;
}

nav#header.animate__lightSpeedInLeft{
    height: 90vh;
    // overflow: hidden;

}


}