@media (max-width: 1023px)
{

nav#navbar{


    height: 0vh;
    overflow: hidden;
    // transition: all 400ms ease-out;
}

nav#navbar.animate__lightSpeedInLeft{
    height: 90vh;
    // overflow: hidden;

}

}